# Игнорирование папок, создаваемых операционными системами
.DS_Store
Thumbs.db

# Игнорирование логов и временных файлов
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорирование зависимостей Node.js
node_modules/

# Игнорирование выходных директорий TypeScript
dist/
out/
build/

# Игнорирование конфигурационных файлов редакторов
.vscode/
.idea/

# Игнорирование выходных файлов TypeScript
*.tsbuildinfo

# Игнорирование файлов, связанных с системой управления версий
.git
